<h1>this is the page for: </h1>
<br>
<p><%= @group.name %></p>
<p><%= @group.description %></p>

<%= link_to "update", "/groups/#{@group.id}/edit"  %>


<%= form_tag "/user_groups", method: :post do %>
  
  <div>email: <input type="email" name="email"></div>

  <input type="hidden" name="<%= @group.id %>">

  <input type="submit" name="Add UserGroup relationship">

  <% end %>

