<div></div>
  <% if current_user.groups.length > 1 %>
    <% current_user.groups.each do |group| %>
      <h2><%= group.name.capitalize %></h2>
      <% group.subgroups.each do |subgroup| %>
      <h3> <a href="/subgroups/<%= subgroup.id %>">-<%= subgroup.name.capitalize %></a></h3>
      <% end %>
    <% end %>
  <% else %>
    <h2><%= current_user.groups.first.name.capitalize %></h2>
    <% current_user.subgroups.each do |subgroup| %>
      <h3> <a href="/subgroups/<%= subgroup.id %>">-<%= subgroup.name.capitalize %></a></h3>
    <% end %>
  <% end %>  





