<!DOCTYPE html>
<html>
  <head>
    <title>GroupsTogether</title>
    
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="/css/animate.css"/ rel="stylesheet" media="screen">
    <link href="/css/owl.theme.css/" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- Colors -->
    <!-- <link href="css/css-index-blue.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
    <link href="/css/css-index-yellow.css" rel="stylesheet" media="screen"> 

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#navbar-scroll">
    <!-- /.preloader -->
      <div id="preloader"></div>
      <div id="top"></div>

    <!-- NAVIGATION -->
      <div id="menu">
          <nav class="navbar-wrapper navbar-default">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand site-name" href="/"><img src="/images/logo2.png" alt="logo"></a>
                  </div>

                  <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                      <ul class="nav navbar-nav">
                          <li class="ymm-sw">
                              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" href="#pages">Pages <b class="caret"></b> </a>
                              <ul class="dropdown-menu navbar-nav">
                                  <li><a href="/groups">Groups</a></li>
                                  <% if current_user %>
                                  <li><a href="/subgroups">Your Subgroups</a></li>  
                                  <li><a href="/user">Your Events</a></li>
                                  <% end %>
                              </ul>
                          </li>  
                          <li><a href="/user">
                            <% if current_user %>
                              <%= current_user.full_name %>
                            <% else %>
                              <%= "LogIn" %>
                            <% end  %>

                          </a></li>
                          <li><a href="/logout">
                            <% if current_user %>
                              <%= "LogOut" %>
                            <% end %>
                          </a></li>
                      </ul>
                  </div>
              </div>
          </nav>
      </div>


    <!-- flassh messages -->
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= message %> 
      </div>
    <% end %>
    
 
  <%= yield %>

        <!-- /.footer -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h4>Where to find us</h4>
                            <p><strong>kimaroTec.</strong>
                                <br>13/25 New Avenue shibuia ayko
                                <br>Kyoto city <br >45Y  
                                <strong>Japon</strong>
                            </p>
                            <a href="contact.html">Go to contact page</a>
                            <hr class="hidden-md hidden-lg">
                        </div> 

                        <div class="col-md-4 col-sm-6">
                            <h4>Last news </h4>
                            <ul class="footer-news">
                                <li>
                                    <a href="single.html"><img src="/images/cirecl-car.png" alt=""> 
                                        <em>Mercidice class S 201</em>
                                        <span class="f-readMore">More .. </span>
                                    </a> 
                                </li>                                
                                <li>
                                    <a href="single.html"><img src="/images/cirecl-car.png" alt=""> 
                                        <em>Mercidice class S 201</em>
                                        <span class="f-readMore">More .. </span>
                                    </a> 
                                </li>                                
                                <li>
                                    <a href="single.html"><img src="/images/cirecl-car.png" alt=""> 
                                        <em>Mercidice class S 201</em>
                                        <span class="f-readMore">More .. </span>
                                    </a> 
                                </li>
                         
                            </ul>
                            <hr class="hidden-md hidden-lg">
                        </div>
                        <!-- /.col-md-4 -->
                        
                        <div class="col-md-4 col-sm-6">
                            <h4>Get the news</h4>
                            <div class="newsletter-box">
                                <div class="newsletter">  
                                    <div class="newsletter-content"> 
                                        <p>Join our newsletter of Lorem Ipsum available, but the majority have suffered alteration .</p>
                                    </div> 
                                    <div class="newsletter-form">
                                        <form>
                                            <input type="text" placeholder="Enter your email...." required=""/>
                                            <input type="submit" value=" ">
                                        </form>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->

                    </div>
                    <!-- /.row -->
                </div>
            </div>  
            <hr>
            <div class="footer-bottum">
                <div id="copyright">
                    <div class="container">
                        <div class="col-sm-4 col-sm-offset-4">
                            <!-- /.social links -->
                            <div class="social text-center">
                                <ul>
                                    <li><a class="wow fadeInUp" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="wow fadeInUp" href="https://www.facebook.com/" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="wow fadeInUp" href="https://plus.google.com/" data-wow-delay="0.4s"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="wow fadeInUp" href="https://instagram.com/" data-wow-delay="0.6s"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>  

                            <div class="text-center wow fadeInUp" style="font-size: 14px;">Copyright VTC Theme 2016 - Template by <a href="http://www.Kimarotec.com">kimaroTheme</a></div>
                            <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
                        </div>  
                    </div>
                </div>

            </div>
        </footer>



        <!-- /.javascript files -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/booking.js"></script> 
        <script src="/js/bootstrap-hover-dropdown.js"></script> 
        <script src="/js/jquery.validate.min.js"></script> 

        <script src="/js/snap.svg-min.js"></script> 
        <script src="/js/hovers.js"></script> 


        <script>
                                                new WOW().init();
                                                $('#date_time').datetimepicker({
                                                    format: 'dd/MM/yyyy hh:mm:ss',
                                                    language: 'en-US',
                                                    pickDate: true, // disables the date picker
                                                    pickTime: true
                                                });
        </script>

        <script>
            (function () {
                function init() {
                    var speed = 250,
                            easing = mina.easeinout;
                    [].slice.call(document.querySelectorAll('#carssections > div')).forEach(function (el) {
                        var s = Snap(el.querySelector('svg')), path = s.select('path'),
                                pathConfig = {
                                    from: path.attr('d'),
                                    to: el.getAttribute('data-path-hover')
                                };

                        el.addEventListener('mouseenter', function () {
                            path.animate({'path': pathConfig.to}, speed, easing);
                        });

                        el.addEventListener('mouseleave', function () {
                            path.animate({'path': pathConfig.from}, speed, easing);
                        });
                    });
                }
                init();
            })();
        </script>
  </body>
</html>
