<!DOCTYPE html>
<html>
  <head>
    <title>GroupsTogether</title>
    
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="/css/animate.css"/ rel="stylesheet" media="screen">
    <link href="/css/owl.theme.css/" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- Colors -->
    <!-- <link href="css/css-index-blue.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
    <link href="/css/css-index-yellow.css" rel="stylesheet" media="screen"> 

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#navbar-scroll">
    <!-- /.preloader -->
      <div id="preloader"></div>
      <div id="top"></div>

    <!-- NAVIGATION -->
      <div id="menu">
          <nav class="navbar-wrapper navbar-default">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand site-name" href="/"> <%= image_tag("group_hug.jpeg") %> </a>
                  </div>

                  <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                      <ul class="nav navbar-nav">
                          <li class="ymm-sw">
                              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" href="#pages">Pages <b class="caret"></b> </a>
                              <ul class="dropdown-menu navbar-nav">
                                  <% if current_user %>
                                    <% current_user.groups.each do |group| %>
                                      <li><a href="/groups/<%= group.id %>"><%= group.name.titleize %></a></li>
                                    <% end %>
                                    <li><a href="/subgroups">Subgroups</a></li>  
                                    <li><a href="/user">Events</a></li>
                                  <% else %>
                                    <li><a href="/groups">Groups</a></li>
                                  <% end %>
                              </ul>
                          </li>  
                          <li><a href="/user">
                            <% if current_user %>
                              <%= current_user.full_name %>
                            <% else %>
                              <%= "LogIn" %>
                            <% end  %>

                          </a></li>
                          <li><a href="/logout">
                            <% if current_user %>
                              <%= "LogOut" %>
                            <% end %>
                          </a></li>
                      </ul>
                  </div>
              </div>
          </nav>
      </div>


    <!-- flassh messages -->
   <!--  <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= message %> 
      </div>
    <% end %> -->
    
 
  <%= yield %>

       



        <!-- /.javascript files -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/booking.js"></script> 
        <script src="/js/bootstrap-hover-dropdown.js"></script> 
        <script src="/js/jquery.validate.min.js"></script> 

        <script src="/js/snap.svg-min.js"></script> 
        <script src="/js/hovers.js"></script> 


        <script>
                                                new WOW().init();
                                                $('#date_time').datetimepicker({
                                                    format: 'dd/MM/yyyy hh:mm:ss',
                                                    language: 'en-US',
                                                    pickDate: true, // disables the date picker
                                                    pickTime: true
                                                });
        </script>

        <script>
            (function () {
                function init() {
                    var speed = 250,
                            easing = mina.easeinout;
                    [].slice.call(document.querySelectorAll('#carssections > div')).forEach(function (el) {
                        var s = Snap(el.querySelector('svg')), path = s.select('path'),
                                pathConfig = {
                                    from: path.attr('d'),
                                    to: el.getAttribute('data-path-hover')
                                };

                        el.addEventListener('mouseenter', function () {
                            path.animate({'path': pathConfig.to}, speed, easing);
                        });

                        el.addEventListener('mouseleave', function () {
                            path.animate({'path': pathConfig.from}, speed, easing);
                        });
                    });
                }
                init();
            })();
        </script>
  </body>
</html>
